@import url(https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/Snippets/ChangeColor/OtherColors/import.css);
@import url(https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/Snippets/GuildBoost/import.css);
@import url("https://minidiscordthemes.github.io/MinimalAddonCards/MinimalAddonCards.theme.css");
@import url(https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/Snippets/ChannelSelections/import.css);
@import url("https://minidiscordthemes.github.io/Snippets/ClippyStatus/main.css");
@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");
@import url(https://raw.githubusercontent.com/Veslydev/VeslysStuff/main/translucent.css);
@import url("https://aushevahmad.github.io/awesome-css/modules/custom-bar-prompt.css");
@import url("https://dablulite.github.io/css-snippets/QuickSwitchV2/import.css");
  :root {
      --prompt-text: "be silly :3"; /* replace --prompt-text with your desired text if you want */
  }
/* Config */
:root{
    --blur-popup: 40px; /*Popup blur size*/
    --opacity-popup: 0.6; /*Popup background opacity*/  
    --radius-popup: 40px; /*Popup border radius*/
    --radius-context: 20px; /*Context menu popups radius*/
    /*--pop-up-color: black; /*uncomment for custom Popup color*/ 
    /*--context-menu-border: 1px solid red; /*uncomment for custom border*/
}
  
#app-mount .embedFull_b0068a {
    border: 3px solid;
    border-radius: 15px;
  }

  [class^=content]:has(> video[data-testid="app-spinner"]) {
    position: relative;
    &::before {
     content: '';
     position: absolute;
     top: 0;
     left: 20px;
     width: 180px;
     height: 200px;
     background-image: url('https://media.discordapp.net/stickers/1217112512374505613.png?size=320') !important;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
    }
    video { visibility: hidden; }
    div[class^=text_] { top: 20px; }
   }

/*moves vc hang status to the left*/
[class*=iconGroup]:has([class*=hangStatusIcon], [d*='M13 3a1'], [class*=gameIcon]) {
    display: flex;
    position: absolute;
    right: 101%;
  }

/*discord loading page*/
.container_e40c16.fixClipping_c7e9c6  {
    background: 0 0;
    backdrop-filter: blur(5px);
  }




@import url("https://dablulite.github.io/css-snippets/QuickSwitchV2/import.css");

.wumpus__3d214 {
    scale: 1;
    content: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=160&passthrough=true);
}
.focusLock__10aa5 .text-md-normal__4afad {
    font-size: 0;
}
.focusLock__10aa5 .text-md-normal__4afad::after {
    font-size: 16px;
    content: "Relax with Viggy for as long as you need."
}


[class^="sidebar_"] [class^="panels_"] {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
  }
  
  [class^="sidebar_"] [class^="panels_"] [class^="container_"],
  [class^="sidebar_"] [class^="panels_"] [class^="panel_"] {
    background: transparent !important;
  }
  
  [class^="sidebar_"] [class^="panels_"] [class^="container_"] [class^="avatarWrapper_"] + [class^="flex_"] {
    margin-left: -10px;
  }
  
  #vc-spotify-player {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  /* Nitro Theme Shit */
  html.custom-theme-background [class^="sidebar_"] {
      background: var(--bg-overlay-3);
  }
  html.custom-theme-background [class^="sidebar_"] [class^="panels_"] {
      background: var(--bg-overlay-1);
  }

/* ShowHiddenThings / Mod View / Remove actions like Kick, Ban, and Timeout if disabled due to insufficient permissions. */
[class^=guildSidebar_] [class^=bottomRow_]:has([class*=bottomRowActionDisabled_]) [class*=bottomRowActionDisabled_] {
    display: none;
  }

/*i'm new here, say hi!*/
[class*=newMemberBadge]:before {
    content: url(https://cdn.discordapp.com/emojis/1217110775601172591.gif?size=64&quality=lossless);
    transform: translate(-100%, -110%);
    display: inline-block;
    scale: 0.32;
}

[class^=userPopoutInner_] [class^=blockquoteContainer_] {
    max-height: 90px;
  }

